{% extends "layout.html" %}

{% block title %}
    Add PR
{% endblock %}

{% block main %}
    <div class="section">

        <h2>Add PR</h2>
        <form action="/add_pr" method="post">
            <select name="movement">
                <option disabled selected value="">Movement</option>
                {% for movement in movements %}
                    <option value="{{movement}}">{{movement}}</option>
                {% endfor %}
            </select>
            <input autocomplete="off" autofocus name="weight" placeholder="Kg" type="number" min="1" required>
            <label for="date">Date:</label>
            <input type="date" id="date" name="date" required>
            <br><br>
            <button name=button type="submit">Add PR</button>
        </form>

    </div>
{% endblock %}
